.board {
    width: 25em;
    height: 25em;
    background-color: rgb(248, 140, 97);
    border-radius: 1em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: center;

    gap: 10px 10px;

    box-shadow: 0 .4em 1em .2em rgb(126 69 47 / .76);
}
